# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pro.user
*.cpp.autosave
Makefile
Makefile*
_plugin_import.cpp
*_plugin_import.cpp
object_script*
ui_*
release/
debug/
moc_*
InvestigateMyClickWinnersConsole
InvestigateMyClickWinnersDesktop
*.lyx~
